html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background:
    radial-gradient(circle at 30% 20%, #3b003b 0%, #0a0010 40%, #000 100%);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;

  filter:
    drop-shadow(0 0 20px rgba(255, 43, 143, 0.35))
    drop-shadow(0 0 26px rgba(255, 0, 80, 0.25));
}

body {
  touch-action: none;
  user-select: none;
}